<template name="activity">

  <a href="{{path}}" class="item-activity">

    <span class="attribution">
      <span class="avatar">
        <img src="{{avatar}}" class="image-avatar">
      </span>
      <span class="meta">
       <span class="recipe">{{activity}}</span> : <span class="author">{{userName}}</span><br> {{{text}}}
          {{#if price}} <br> <span class="recipe"> {{price}} PLN</span> {{/if}}
          {{#if timeToEnd}} <span class="author"> {{timeToEnd}} </span> {{/if}}
       {{#if place}}<span class="location">&mdash;{{place}}</span>{{/if}}<br>
       {{#if createdAt}}<span class="location">&mdash;{{formatDate createdAt}}</span>{{/if}}
       </span>
    </span>

    {{#if image}}<div class="bg-image" style="background-image: url('{{image}}');"></div>{{/if}}
  </a>
</template>
