<template name="queryOverlay">
  <div class="overlay query">
    <a href="#" class="js-close-overlay overlay-dismiss"><span class="icon-cross"></span></a>
      {{#autoForm schema="Schemas.QuerySchema" id="newQuery" type="method" meteormethod="addQuery"}}
        <div class="wrapper-heading">
      <div class="subtitle-overlay">
        <fieldset>
										<legend style="font-weight: bold">{{i18n "add_new_query"}}</legend>
										<br>
            {{> afQuickField name='title' autofocus=true}}
            {{> afQuickField name='priceBottom' placeholder=optional}}
            {{> afQuickField name='priceTop' placeholder=optional}}
        </fieldset>
						</div>
    </div>
    <button type="submit" class="btn btn-primary" id="insert-bt">Insert</button>
      {{/autoForm}}
  </div>
</template>
